table {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.25rem;
  border-collapse: collapse;
}

td, th {
  padding: 1rem 2rem;
  
  font-weight: 500;
  line-height: 1.5rem;
  
  text-align: left;
  color: var(--black);
}

td {
  border-top: 1px solid black;
}

.buttons-container {
  padding: 0;
}

.button-table  {
  background-color: var(--background);

  img {
    width: 28px;
    transition: filter ease;

    &:hover {
      filter: brightness(3);
    }
  }
}