footer {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 5.438rem;
  width: 100%;
  bottom: 0;

  background: var(--blue);
  
  span {
    font-size: 0.75rem;
    color: var(--gray);
  }
}

//Small devices
@media (max-width: 568px) {
  footer span {
    font-size: 0.65rem;
  } 
}